* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
}
#container-form {
  box-sizing: border-box;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;

  border: 1px solid #2c001e;
  border-radius: 9px;
  width: 473px;
  height: 500px;
  margin-top: 99px;
}
#header-container-form {
  background: #2c001e;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 15px; */
  width: 100%;
  border-radius: 9px 9px 0 0;
}
.txt-header {
  color: #ffffff;
}
#form-field {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.section-input {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 375px;
}
.container-input {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 18px;
}
.error-message-postal-code {
  width: 311px;
  font-size: 15px;
  color: red;
}
.error-message-email,
.error-message-password,
.error-message-confirm-password {
  width: 100%;
  font-size: 15px;
  color: red;
}
.input-field {
  width: inherit;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  height: 30px;
  font-size: 18px;
  margin-bottom: 5px;
  outline: none;
}
.input-field-country {
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  height: 30px;
  font-size: 18px;
  outline: none;
  margin-bottom: 5px;
}
.input-field:hover,
.input-field-country:hover {
  border: 1px solid blue;
}
.input-field:focus,
.input-field-country:focus {
  border: 2px solid blue;
  box-shadow: 2px 3px 7px 0px grey;
}
.section-btn {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
#btn-reset,
#btn-submit {
  flex-grow: 1;
  background-color: #2c001e;
  height: 30px;
  border: 0;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 5px;
}
#btn-reset:hover,
#btn-submit:hover {
  background-color: white;
  color: #2c001e;
  box-shadow: 2px 2px 2px #2c001e;
  border: 1px solid #2c001e;
}
